<% letters.each do |i| %>
  <% if current_user&& (current_user.name == "Ocean-藏心" ||current_user.name == "丫丫") %>
    <div class="lc-wrapper">
      
       <a href="#" class="letter-cover">
        <ul class="zipcode-wrapper">
          <li class="zipcode">1</li>
          <li class="zipcode">0</li>
          <li class="zipcode">0</li>
          <li class="zipcode">0</li>
          <li class="zipcode">0</li>
          <li class="zipcode">0</li>
        </ul>
        
    <img src="/images/stamp-5.jpg" alt="" class="lc-img">      
        
      <div class="footer-container">
        <div class="lc-header clearfix">
            藏心
        </div>
        <div class="lc-footer clearfix">
            2015.10.21
        </div>  
      </div>
      </a>  
      
    </div>
    

  <% end %>
    

<% end %>


