<div class="issue-list">
  <% songs.each do |i| %>
  <article class="issue clearfix">
    <div class="avatar">
      <a href="/happypeter">
        <img src=http://tp3.sinaimg.cn/2802042662/180/40063868739/1 alt="">
      </a>    
    </div>
      <div class="body">
        <h5 class="title">
       <%= link_to i.name, i %>
        </h5>
        <%=  link_to "听听看",i ,class: "read-more"%>
        <span class="meta-data">
          <a href="http://weibo.com/oceancx/">Ocean-藏心</a>
          <%= time_ago_in_words(i.created_at) %> 前        
        </span>
      </div>
      <div class="issue-comment-count">
    <i class="fa fa-comments icon-muted"></i>
       <%= link_to "2", i %>
      </div>

    </article>
    <% end %>
  </div>