<div class="home-banner" data-stretch="images/digest.jpg" >

  <div class="banner-inner container clearfix">
    <h1>阅览室</h1>
    <p class="subheading">大杂烩，一锅端</p>
    <div class="home-banner-links">
      <%= link_to "分享新文摘", "/issues/new", class: "banner-btn btn" %>
    </div>
  </div>
</div>
<div class="issue-list-header">
  <div class="container clearfix">
    <h1 class="issue-list-heading">文摘列表</h1>
  </div>
</div>

<div class="container clearfix">
  <%= render partial: 'issue_list', locals: { issues: @issues } %>
</div>

<div class="container clearfix">
  <%= render partial: 'song_list', locals: { songs: @songs } %>
</div>

<script>
$('.home-banner').anystretch();
</script>