<div class="home-banner" data-stretch="images/travelnote.jpg" >

  <div class="banner-inner container clearfix">
    <h1>点滴记录</h1>
    <p class="subheading">眼中不一样的风景</p>
    <div class="home-banner-links">
      <%= link_to "分享新游记", "/issues/new", class: "banner-btn btn" %>
    </div>
  </div>
</div>
<div class="issue-list-header">
  <div class="container clearfix">
    <h1 class="issue-list-heading">游记列表</h1>
  </div>
</div>

<div class="container clearfix">
  <%= render partial: 'issue_list', locals: { issues: @issues } %>
</div>

<div class="container clearfix">
  <%= render partial: 'song_list', locals: { songs: @songs } %>
</div>

<script>
$('.home-banner').anystretch();
</script>