<div class="home-banner" data-stretch="images/video1.jpg" >

  <div class="banner-inner container clearfix">
    <h1>点播站</h1>
    <p class="subheading">是否考虑做个生活的导演</p>
    <div class="home-banner-links">
      <%= link_to "分享新视频", "/issues/new", class: "banner-btn btn" %>
    </div>
  </div>
</div>
<div class="issue-list-header">
  <div class="container clearfix">
    <h1 class="issue-list-heading">视频列表</h1>
  </div>
</div>

<div class="container clearfix">
  <%= render partial: 'issue_list', locals: { issues: @issues } %>
</div>

<div class="container clearfix">
  <%= render partial: 'song_list', locals: { songs: @songs } %>
</div>

<script>
$('.home-banner').anystretch();
</script>