.font-decorate{


	text-align: center;
 	font: 30px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

.wrapper{
	margin-top: 20px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;

	background: #f1f1f1;
	color: #555;
	box-shadow: 1px 1px 10px;
	height: 500px
}

