.lt-font{
	font: 16px / 1.7 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;

}

.lt-container{
	background: #f1f1f1;
}
.lt-wrapper{
	width: 960px;
	margin: 30px auto;
	background: #fff;
	padding: 30px;
	border:none;
	box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
.lt-name{
	
}

